/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: white;
}
nav ul a:hover {
    color: red;
    background-color: white;
}
@media only screen and (max-width : 600px) {
  nav .brand-logo {
    color: white;
    font-size: 25px;
  }
}
p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
i.icon-blue {
    color: teal;
}
i.icon-white {
    color: white;
}
i.icon-red {
    color: red;
}
footer.page-footer {
  margin: 0;
}

#centro {
width:100px;
height:100px;
position:absolute;
top:50%;
left:50%;
}
@media only screen and (min-width : 900px) {
   .post-imagem {
    height: 300px !important;
    width: 500px !important;
  }
}
@media (max-width: 990px) {
  .resizeimg {
    width: 100%;
    height:auto;
  }
}

@media (min-width: 1000px) {
  .resizeimg {
    width: auto !important;
    height: 350px !important;
  }
}


@media (min-width: 1000px) {
  .noticia {
    width: 100% !important;
    height: auto !important;
  }
}
